@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

@layer utilities {
  .section-container {
    @apply max-w-260 mx-auto px-2 md:px-5 lg:px-7 xl:px-10;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}
